dist
.nuxt
node_modules

menu-footer/src/assets
menu-footer/src/components/BlockHeaderPlain.vue
menu-footer/src/components/DesktopFooter.vue
menu-footer/src/components/MenuBar.vue
menu-footer/src/components/MenuContent.vue

# source files for the program generation
scripts/*.csv

.vscode
