.white-background {
    background-color: white;
    h1, h2, h3, h4 {
        color: $figma-orange;
    }
}

.grey-background {
    background-color: $figma-grey3;
    h1, h2, h3, h4 {
        color: $figma-orange;
    }
}

.jp-orange {
    color: $figma-orange;
}
